{% extends 'base.html.twig' %}

{% block title %}Upiti za vozila{% endblock %}

{% block body %}
    <h2 class="text-center p-3 bg-light">
        <b>
            Upiti za vozila
        </b>
    </h2>
    <div class="container">
        <a class="p-3" href="{{ path('vehicle_index') }}">
            <i class="fas fa-arrow-circle-left"></i>
            Pregled vozila
        </a>
        {% if not inquiries %}
            <p class="p-3 text-center bg-light">Trenutno ne postoji niti jedan upit.</p>
        {% endif %}
        {% for inquirie in inquiries %}
            <div class="one_inquirie text-center"
                 style="background-color: lightyellow">
                <p class="p-3">
                    <strong>
                        Vozilo:
                    </strong><br>
                    <i>{{ inquirie.vehicle.mark }} {{ inquirie.vehicle.model }}</i>
                </p>
                <p>
                    <strong>
                        Sadržaj upita:
                    </strong><br>
                    <i>{{ inquirie.content }}</i>
                </p>
                <p>
                    <strong>
                        Podaci o pošiljatelju:
                    </strong><br>
                    <i>Ime: {{ inquirie.firstName }}<br>
                        Prezime: {{ inquirie.lastName }}
                    </i>
                </p>
                <p>
                    <strong>
                        Kontakt podaci:
                    </strong><br>
                    <i>Email: {{ inquirie.email }}<br>
                        Kontakt broj: {{ inquirie.contactNumber }}</i>
                </p>
                <div class="text-center">
                    <a class="btn btn-success"
                       href="mailto:{{ inquirie.email }}">Pošalji email klijentu</a>
                    <a class="btn btn-danger"
                       href="{{ path('inquirie_delete', {id:inquirie.id}) }}">Obriši upit</a>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}
